@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

.App {
  text-align: center;
}

/* NAVBAR */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  width: 100%;
  /* z-index: 1; */
  background-color: rgb(50, 50, 50);
}

.nav-container > h3 {
  margin: 0 0 -20px 20px;
  color: white;
  font-size: 46px;
  font-family: 'Baloo Tammudu 2', cursive;
  height: 100%;
}

.nav-container > ul {
  float: right;
  list-style-type: none;
  margin: 0;
  height: 100%;
  overflow: hidden;  
  list-style: none;
}

.nav-container > ul > a {
  float: left;
}

.nav-container > ul > a:hover {
  background-color: rgb(40, 40, 40);
}

.nav-container > ul > a > li {
  display: block;
  color: white;
  padding: 32px 16px;
  margin: auto 0;
  text-decoration: none;
}

/* HOMEPAGE */

.homepage-container {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(./product_images/olives-homepage-bg.jpg);
  background-size: cover;
  height: calc(100vh - 62px);
  position: relative;
}

.homepage-content {
  margin: 0 auto;
  max-width: 600px;
}

.homepage-content > h3 {
  margin: 0 0 -20px 0;
  padding-top: 40px;
  color: white;
  font-size: 72px;
  letter-spacing: 3px;
  font-family: 'Baloo Tammudu 2', cursive;
}

.homepage-content > p {
  margin: 0;
  padding-top: 40px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
}

.homepage-btn {
  margin: 30px auto 20px auto;
  padding: 10px 20px;
  background-color: rgb(100, 100, 100);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  /* border: none; */
}

.homepage-btn:hover {
  background-color: rgb(60, 60, 60);
  cursor: pointer;
}

/* SHOP PAGE */

.shop-container {
  margin: auto;
  max-width: 1300px;
}

.shop-items {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin: 20px 5vw;
  /* max-width: 999px; */
}

.item-container {
  width: 250px;
  min-width: 200px;
}

.item-container > * > img {
  /* width: 100%; */
  max-height: 160px;
}

/* PRODUCT PAGE */

.product-container {
  margin: 10vh auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  max-width: 1000px;
}

.product-container > * > img {
  width: 100%;
}

.left-col {
  grid-column: 1 / 2;
}

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 2 / 3;
}

.product-add > * {
  margin: 5px auto;
}

/* CART PAGE */

.cart-container {
  padding-top: 6vh;
  width: 80vw;
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
}

.cart-grid, .cart-grid-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  height: 40px;
}

.cart-grid-header {
  color: white;
  background-color: rgb(50, 50, 50);
}

.cart-grid > h3 {
  grid-column: 4 / 5;
  font-weight: normal;
}

.cart-grid > .amount {
  grid-column: 5 / 6;
}

.cart-grid > a {
  grid-column: 4 / 6;
}

.cart-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.cart-item-container > * > img {
  width: 140px;
}

.cart-item-container > .cart-quantity {
  /* width: 40%; */
  display: flex;
  justify-content: space-around;
}

.cart-item-container > .cart-quantity > .amount {
  width: 34px;
}

.cart-item-container > .cart-quantity > .remove {
  width: 34px;
  font-weight: 300;
  text-decoration: underline;
  color: rgb(255, 0, 0);
  cursor: pointer;;
}

/* SITE WIDE */

.button {
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  background-color: rgb(100, 100, 100);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  /* border: none; */
}

.button:hover {
  background-color: rgb(60, 60, 60);
  cursor: pointer;
}


@media screen and (max-width: 650px) {
  .nav-container {
    flex-direction: column;
  }
}